c-clang.aux		
c-clang.snm
c-clang.log
c-clang.pdf
c-clang.out
c-clang.aux
c-clang.toc
c-clang.nav
c-clang.vrb
c-clang.synctex.gz
c-clang-notes.synctex.gz
c-clang-notes.aux
c-clang-notes.toc
c-clang-notes.log
c-clang-notes.pdf
c-clang-notes.dvi
c-clang-notes.out
drawstack.sty
.gitignore~
